.atom {
  width: 15%;
  height: 15%;
  border-radius: 50%;
  margin: 50% 50%;
  transform: translate(-50%, -50%);
  font-family: Helvetica;
  position: absolute;
}
.atom > * {
  color: white;
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
}
.atom > .symbol {
  top: 50%;
  transform: translateY(-50%);
}
.atom > .number {
  bottom: 10%;
}
.atom > .atomCenter {
  width: 50px;
  height: 50px;
  background-color: transparent !important;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 50% 50%;
  transform: translate(-50%, -50%);
}

.newest {
  width: 0;
  height: 0;
  opacity: 0;
}

.hydrogen{
  background-color: #63b9d5;
}

.helium{
  background-color: #d1c991;
}

.lithium{
  background-color: #4c6168;
}

.beryllium{
  background-color: #c8c8c8;
}

.boron{
  background-color: #7d5353;
}

.carbon{
  background-color: #3b3b3b;
}

.nitrogen{
  background-color: #2cc6b2;
}

.oxygen{
  background-color: #6fec98;
}

.fluorine{
  background-color: #ecc46f;
}

.neon{
  background-color: #be0086;
}

.sodium{
  background-color: #e69d7a;
}

.magnesium{
  background-color: #9e80ea;
}

.aluminum{
  background-color: #797979;
}

.silicon{
  background-color: #4a4070;
}

.phosphorus{
  background-color: #d7463f;
}

.sulfur{
  background-color: #375e7c;
}

.chlorine{
  background-color: #6d1d7b;
}

.argon{
  background-color: #9a3da5;
}

.potassium{
  background-color: #4d8946;
}

.calcium{
  background-color: #f0f0f0;
}

.scandium{
  background-color: #5fbb77;
}

.titanium{
  background-color: #5a5a5a;
}

.vanadium{
  background-color: #5f9ebb;
}

.chromium{
  background-color: #a488b5;
}

.manganese{
  background-color: #dc4a4a;
}

.iron{
  background-color: #ab967d;
}

.cobalt{
  background-color: #4371e6;
}

.nickel{
  background-color: #bac395;
}

.copper{
  background-color: #B95739;
}

.zinc{
  background-color: #B4B4B4;
}

.gallium{
  background-color: #39B975;
}

.germanium{
  background-color: #979273;
}

.arsenic{
  background-color: #738498;
}

.selenium{
  background-color: #424242;
}

.bromine{
  background-color: #D4753C;
}

.krypton{
  background-color: #3CA0D4;
}

.rubidium{
  background-color: #D22C1F;
}

.strontium{
  background-color: #FF9D29;
}

.yttrium{
  background-color: #B129FF;
}

.zirconium{
  background-color: #D6E43E;
}

.niobium{
  background-color: #75DCEB;
}

.molybdenum{
  background-color: #8BA38C;
}

.technetium{
  background-color: #EEA1E2;
}

.ruthenium{
  background-color: #563E32;
}

.rhodium{
  background-color: #88D17A;
}

.palladium{
  background-color: #9EABBE;
}

.silver{
  background-color: #DCDCDC;
}

.cadmium{
  background-color: #5560C8;
}

.indium{
  background-color: #408D3C;
}

.tin{
  background-color: #B5A47C;
}

.antimony{
  background-color: #C6598C;
}

.tellurium{
  background-color: #827498;
}

.iodine{
  background-color: #FF00FC;
}

.xenon{
  background-color: #7888FF;
}

.caesium{
  background-color: #FFD478;
}

.barium{
  background-color: #E99C9C;
}

.lanthanum{
  background-color: #8BDBBE;
}

.cerium{
  background-color: #FF9329;
}

.praseodymium{
  background-color: #56E019;
}

.neodymium{
  background-color: #65898D;
}

.promethium{
  background-color: #2EE99B;
}

.samarium{
  background-color: #BD6475;
}

.name{
  background-color: #Color;
}

.europium{
  background-color: #6C64BD;
}

.gadolinium{
  background-color: #6E1289;
}

.terbium{
  background-color: #359C50;
}

.dysprosium{
  background-color: #447EE7;
}

.holmium{
  background-color: #E77D46;
}

.erbium{
  background-color: #BF4987;
}

.thulium{
  background-color: #21426B;
}

.ytterbium{
  background-color: #878750;
}

.lutetium{
  background-color: #D12C2C;
}

.hafnium{
  background-color: #91D12C;
}

.tantalum{
  background-color: #7F87AF;
}

.tungsten{
  background-color: #2B6AA5;
}

.rhenium{
  background-color: #512F2F;
}

.osmium{
  background-color: #307060;
}

.iridium{
  background-color: #C9876A;
}

.platinum{
  background-color: #505008;
}

.gold{
  background-color: #EDC474;
}

.mercury{
  background-color: #80A5AC;
}

.thallium{
  background-color: #AC8089;
}

.lead{
  background-color: #3C7C66;
}

.bismuth{
  background-color: #FF0506;
}

.polonium{
  background-color: #FFFF00;
}

.astatine{
  background-color: #00FF00;
}

.radon{
  background-color: #DAE83A;
}

.francium{
  background-color: #FF6C00;
}

.radium{
  background-color: #00FFFF;
}

.actinium{
  background-color: #424918;
}

.thorium{
  background-color: #AA3D82;
}

.protactinium{
  background-color: #3DAA82;
}

.uranium{
  background-color: #9CFF00;
}

.neptunium{
  background-color: #00AEFF;
}

.plutonium{
  background-color: #FF9000;
}

.americium{
  background-color: #813349;
}

.curium{
  background-color: #FF79D0;
}

.berkelium{
  background-color: #AE877E;
}

.californium{
  background-color: #8F3CB4;
}

.einsteinium{
  background-color: #86C4DC;
}

.fermium{
  background-color: #BFDC86;
}

.mendelevium{
  background-color: #DC8686;
}

.nobelium{
  background-color: #FFD965;
}

.lawrencium{
  background-color: #5C24A0;
}

.rutherfordium {
  background-color: #6B6675;
}

.dubnium {
  background-color: #B05032;
}

.seaborgium {
  background-color: #254987;
}

.bohrium {
  background-color: #9BAFA0;
}

.hassium {
  background-color: #FF562D;
}

.meitnerium {
  background-color: #CDCD2C;
}

.darmstadtium {
  background-color: #3A7E48;
}

.roentgenium {
  background-color: #ffffff;
  color: #000000;
}

.copernicium {
  background-color: #AA4594;
}

.ununtrium {
  background-color: #8F8F8F;
}

.flerovium {
  background-color: #2EEDE6;
}

.ununpentium {
  background-color: #BEAF64;
}

.livermorium {
  background-color: #F22E6A;
}

.ununseptium {
  background-color: #70EA78;
}

.ununoctium {
  background-color: #FF00B9;
}

.bananium {
  background-color: #EDE674;
}

.gravityblockium {
  background-color: #3DE6C3;
}

.breakingbadium {
  background-color: #309141;
}

.timerunnerium {
  background-color: #4DC8E6;
}

.sirnicanium {
  background-color: #FF0000;
}

.earthium {
  background-color: #1177F5;
}
