body {
  margin: 0;
  padding: 0;
  background-color: #422426;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently not supported by any browser */
}

#canvas {
  margin: auto;
  position: relative;
  box-sizing: border-box;
}

#canvas > * {
  position: absolute;
  margin: 50% 50%;
  transform: translate(-50%, -50%);
}

#center {
 width: 3px;
 height: 3px;
 border-radius: 50%;
 background-color: rgba(255, 255, 255, .1);
}

#ring {
 border: 2px solid rgba(255, 255, 255, .05);
 width: 80%;
 height: 80%;
 border-radius: 50%;
}
